html {
    font-family: 'Darker Grotesque';
    color: #FFFFFF;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
    position: sticky;
    background-color: #85CDF5;
    padding: 10px;
}

.linha {
    text-decoration: none;
    color: black;
    font-family: "Darker Grotesque";
    font-size: 30px;
    background-image: linear-gradient(270deg, #2C5680 0%, #000000 100%);
    background-repeat: no-repeat;
    background-size: 65% 3px;
    background-position: right bottom;
    transition: background-size 500ms ease;
    cursor: pointer;
    font-weight: 700;
}

.slinha {
    text-decoration: none;
    color: black;
    font-family: "Darker Grotesque";
    font-size: 30px;
    font-weight: 700;
}

.linha:hover {
    background-size: 100% 3px;;
}


/*** body ***/

.h1 {
    font-family: "Darker Grotesque";
    text-align: center;
    font-size: 96px;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 15% 3px;
    background-position: center bottom;
    transition: background-size 500ms ease;
    cursor: pointer;
    font-weight: 700;
}

#subtexto {
    font-size: 30px;
    text-align: center;
    max-width: 630px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-image: url("../src/lobaogrande.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C5680;
    padding: 100px;
}

#titulo_body {
    font-weight: 700;
    font-size: 96px;
    text-align: center;
}

#texto_principal {
    max-width: 960px;
    text-align: center;
}

.titulo2 {
    color: #DEB959;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
}

.valores{
    display: flex;
    flex-flow: wrap column;
    background-color: #333333;
    padding: 5rem 6.5rem;
}

.todos_valores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10vw;
}

.valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 195px;
}

.img{
    display: flex;
    background-color: white;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    justify-content: center;
    align-items: center;
}

.head_value {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
}

.text_valor {
    font-weight: 400;
    font-size: 3.45vmin;
    text-align: center;
}

.lobos_exemplo {
    padding: 50px 10vw;
    color: #000000;
    display: flex;
    flex-flow: column wrap;
}

.lobos {
    display: flex;
    flex-flow: column wrap;
}

.grupo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    gap: 40px;
}

#esquerda {
    flex-direction: row-reverse;
}

.nome_do_lobo {
    font-weight: 700;
    font-size: 36px;
}

.idade {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}

.descricao {
    max-width: 460px;
}

.div {
    position: absolute;
    width: 360px;
    height: 275px;
    background-color: #2C5680;
    transform: translate(-10%,-10%);
    border: 4px solid #333333;
    z-index: -1;
}

/* footer */

#linhazinha {
    height: .5vh;
    width: 100%;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    position: relative;
    bottom: 26.2%;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 10vw;
    background-color: #333333;
    margin: auto;
    bottom: 0;
    left: 0;
    
}

.map {
    display: flex;
    gap: 15px;
}

.info {
    max-width: 350px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}

#f_botao {
    background-color: #DEB959;
    color: #333333;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

/* quem somos */
.infos {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    gap: 3rem;
    padding: 3rem 10rem;
    color: #000000;
}

.infos h1{
    font-family: 'Roboto';
    font-size: 48px;
    text-align: center;
}

.infos p {
    text-align: center;
    font-family: 'Darker Grotesque';
}

/* show lobinho! */
.lobinhos {
    margin: 2em 10em;
}
.show_lobinho_titulo {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0em 2em 0em;
}

.show_botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.show_botoes_ad {
    background-color: #7AAC3A;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 40px;
}

.show_botoes_ex {
    background-color: #DE5959;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 40px;
}

#descricao_lobinhos {
    font-family: 'Darker Grotesque';
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    margin-top: 1.5em;
    color: #000000;
    max-width: 460px;
}

/* adotar lobinho! */
.secmain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
    
.topo{
    display: flex;
    padding-bottom: 6rem;
    color: #000000;
    justify-content: flex-start;
    gap: 3rem;
}

.topo h2{
    font-size: 60px;
}

.titulo{
    display: flex;
    flex-direction: column;
}

.image-lobo{
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4rem;
    width:100%;
    color: #000000;
}

.nomeIdade{
    width:100%;
    display: flex;
    gap: 5%;
    justify-content: space-between;
}

.single-input{
    width:100%;
    /*margin:1.875rem;*/
    position: relative;
}

.single-input.idade1{
    width:8%
}

.single-input label{
   
    font-size: 1.87rem;
    font-weight: 500;
    position: absolute;
    left:0;
    bottom: 25px;;
    cursor:text;
    transition: 0.5s ease-in-out;
}

.single-input input{
    border: 0;
    border-bottom: 2px solid #333333;
    outline:0;
}

#nome, #idade, #email{
    width: 100%;
}

#btn_adotar{
    background-color: #2C5680;
    width: 25%;
    color: #FFFFFF;
    font-size: 2.25rem;
    font-weight: 400;
    align-self: center;
    cursor: pointer;
}

#btn_adotar:hover{
    opacity: 0.8;
}

